
#aaa {
    color: red;
}

.middle {
    margin-top: 50px;
}

.top {
    margin-top: 50px;
    margin-bottom: 50px;
}

.content {
    width: 80%;
}

.calc-container {

    padding-bottom: 5%;
    padding-top: 5%;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
    background-color: #ffca61;
}